/*
    Manrope google font is import in css file
 */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter&family=Dancing+Script:wght@500&family=Edu+NSW+ACT+Foundation&family=Edu+SA+Beginner:wght@700&family=Inter&family=Lobster&family=Manrope:wght@400;500;600;700;800&family=Merriweather&family=Noto+Sans&family=Open+Sans&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,600;1,400;1,800&family=Poppins:wght@400;500&family=Roboto:wght@500&family=Splash&display=swap");

/*
    Common styles
 */
body {
  font-family: "Manrope", sans-serif;
}

/*
    Hero/top section
 */
.btn-one {
  background: linear-gradient(270deg, #ff0000 0%, #ff8938 100%);
  border-radius: 10px;
}

.rating {
  height: 85px;
  top: 22.8125rem;
  left: 7.5rem;
}

/*
    Our products
 */
.tea-card {
  background: linear-gradient(180deg, #f4f4f4 0%, rgba(244, 244, 244, 0) 100%);
}

/*
    Great tea section
 */
.great-tea {
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "i1 i2"
    "i3 i2"
    "i3 i4";
}

.great-tea .item-1 {
  grid-area: i1;
  height: 136px;
  background: linear-gradient(270deg, #ff0000 0%, #ff8938 100%);
  opacity: 0.1;
  border-radius: 10px;
}
.great-tea .item-2 {
  grid-area: i2;
  height: 355.28px;
  background: rgba(230, 166, 35, 0.1);
  border-radius: 10px;
}
.great-tea .item-3 {
  grid-area: i3;
  height: 355.28px;
  background: rgba(87, 118, 57, 0.1);
  border-radius: 10px;
}
.great-tea .item-4 {
  grid-area: i4;
  height: 136px;
  background: linear-gradient(90deg, #d9d9d9 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 10px;
}

/*
    Our clients section
 */
.btn-two {
  color: tomato;
  border-radius: 8px;
}

.clients {
  background: linear-gradient(270deg, #ff0000 0%, #ff8938 100%);
  border-radius: 10px;
}

.clients-review {
  max-height: 250px;
  height: 100%;
  max-width: 430px;
  width: 100%;
  background: #ffffff;
  border-radius: 8px;
  position: relative;
  opacity: 0.3;
}

.clients-review img {
  position: absolute;
  top: -20px;
  left: -20px;
}

.absolute-card {
  position: absolute;
  top: 150px;
  left: 40px;
  opacity: 1000000000000;
}
